<div class="page-header d-print-none pt-5">
  <div class="container-xl">
    <div class="row g-2 align-items-center">
      <div class="col">
        <!-- Page pre-title -->
        <div class="page-pretitle">
          Overview
        </div>
        <h2 class="page-title">
          Dashboard
        </h2>
      </div>
      <!-- Page title actions -->
      <div class="col-auto ms-auto d-print-none">
        <div class="btn-list">
          <span class="d-none d-sm-inline">
            <a href="#" class="btn">
              New view
            </a>
          </span>
          <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal"
            data-bs-target="#modal-report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
            Create new report
          </a>
          <a href="#" class="btn btn-primary d-sm-none btn-icon" data-bs-toggle="modal" data-bs-target="#modal-report"
            aria-label="Create new report">
            <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
              stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M5 12l14 0" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="page-body">
  <div class="container-xl">
    <div class="row row-deck row-cards">
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">NEW LEADS</div>
              <!-- <div class="ms-auto lh-1">
                <div class="dropdown">
                  <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Last 7 days</a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item active" href="#">Last 7 days</a>
                    <a class="dropdown-item" href="#">Last 30 days</a>
                    <a class="dropdown-item" href="#">Last 3 months</a>
                  </div>
                </div>
              </div> -->
            </div>
            <div class="h1 mb-3">{{obj.newLeadCount}}</div>
            <div class="d-flex mb-2">
              <div>Conversion rate</div>
              <!-- <div class="ms-auto">
                <span class="text-green d-inline-flex align-items-center lh-1">
                  7%
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 17l6 -6l4 4l8 -8" />
                    <path d="M14 7l7 0l0 7" />
                  </svg>
                </span>
              </div> -->
            </div>
            <div class="progress progress-sm">
              <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100" aria-label="75% Complete">
                <span class="visually-hidden">75% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">WON LEADS</div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-0 me-2">{{obj.ownLeadCount}}</div>
            </div>
          </div>
          <highcharts-chart [Highcharts]="highcharts" [options]="ownLeadsChartOptions"
            style="height: 75px; width:100%; display: block;"></highcharts-chart>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">LOSS LEADS</div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-3 me-2">{{obj.lossLeadCount}}</div>
            </div>
            <highcharts-chart [Highcharts]="highcharts" [options]="lossLeadsChartOptions"
              style="height: 75px; width:100%; display: block;"></highcharts-chart>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <div class="card-body">
            <div class="d-flex align-items-center">
              <div class="subheader">Products</div>
              <div class="ms-auto lh-1">
                <div class="dropdown">
                  <a class="dropdown-toggle text-muted" href="#" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">Last 7 days</a>
                  <div class="dropdown-menu dropdown-menu-end">
                    <a class="dropdown-item active" href="#">Last 7 days</a>
                    <a class="dropdown-item" href="#">Last 30 days</a>
                    <a class="dropdown-item" href="#">Last 3 months</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-baseline">
              <div class="h1 mb-3 me-2">{{obj.newLeadCount}}</div>
              <div class="me-auto">
                <span class="text-green d-inline-flex align-items-center lh-1">
                  4% <!-- Download SVG icon from http://tabler-icons.io/i/trending-up -->
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon ms-1" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M3 17l6 -6l4 4l8 -8" />
                    <path d="M14 7l7 0l0 7" />
                  </svg>
                </span>
              </div>
            </div>
            <div id="chart-active-users" class="chart-sm"></div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row row-cards">
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-primary text-white avatar">
                      <span class="mdi mdi-calendar h2 m-0"></span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{obj.todayEventCount}} Upcoming
                    </div>
                    <div class="text-muted">
                      {{obj.tomorrowEventCount}} Tomorrow
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-green text-white avatar">
                      <span class="mdi mdi-phone-incoming-outgoing h2 m-0"></span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{obj.newCallCount}} New Calls
                    </div>
                    <div class="text-muted">
                      {{obj.totalCallCount}} Calls
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-twitter text-white avatar">
                      <span class="mdi mdi-source-branch h2 m-0"></span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{obj.totalLeadCount}} Branch Leads
                    </div>
                    <div class="text-muted">
                      {{obj.totalBranchCount}} Branchs
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <span class="bg-facebook text-white avatar">
                      <span class="mdi mdi-account-tie h2 m-0"></span>
                    </span>
                  </div>
                  <div class="col">
                    <div class="font-weight-medium">
                      {{obj.totalEmployeeCount}} Employees
                    </div>
                    <div class="text-muted">
                      {{obj.totalAdminCount}} Admins
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">
              <span class="mdi mdi-traffic-light"></span>
              Traffic summary
            </h3>
            <highcharts-chart [Highcharts]="highcharts" [options]="trafficSummaryChartOptions"
              style="width:100%; display: block;"></highcharts-chart>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <span class="mdi mdi-calendar-clock"></span>
              Upcoming Meetings
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-vcenter">
              <tbody>
                <tr *ngFor="let m of upcomingMeetings">
                  <td class="pr-2">
                    {{m.meeting.meetingId}}
                  </td>
                  <td class="w-100">
                    {{m.meeting.subject}}
                  </td>
                  <td class="text-nowrap text-muted">
                    {{m.meeting.startTime | date: 'MMM d, y'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <span class="mdi mdi-share"></span>
              Social Media Traffic
            </h3>
          </div>
          <table class="table card-table table-vcenter">
            <thead>
              <tr>
                <th>Network</th>
                <th colspan="2">Visitors</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ls of obj.leadCountBySource">
                <td>{{ls.leadSource}}</td>
                <td>{{ls.count}}</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" [style.width]="((ls.count/ls.total)*100)+'%'"></div>
                  </div>
                </td>
              </tr>
              <!-- <tr>
                <td>Instagram</td>
                <td>3,550</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 71.0%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Twitter</td>
                <td>1,798</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 35.96%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Facebook</td>
                <td>1,245</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 24.9%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>TikTok</td>
                <td>986</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 19.72%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Pinterest</td>
                <td>854</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 17.08%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>VK</td>
                <td>650</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 13.0%"></div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>Pinterest</td>
                <td>420</td>
                <td class="w-50">
                  <div class="progress progress-xs">
                    <div class="progress-bar bg-primary" style="width: 8.4%"></div>
                  </div>
                </td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-md-12 col-lg-8">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <span class="mdi mdi-checkbox-marked-circle-auto-outline"></span>
              Upcoming Tasks
            </h3>
          </div>
          <div class="table-responsive">
            <table class="table table-vcenter">
              <tbody>
                <tr *ngFor="let t of upcomingTasks">
                  <td class="pr-2">
                    {{t.taskNum}}
                  </td>
                  <td class="w-100">
                    {{t.subject}}
                  </td>
                  <td class="text-nowrap text-muted">
                    {{t.startDate | date: 'MMM d, y'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>